<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts.Core" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Data" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.DataVisualization.Core" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Mvvm" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Accordion" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Charts" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Controls" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Core" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Docking" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Grid.Core" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.LayoutControl" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Printing" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.PropertyGrid" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Ribbon" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.All" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.DXStyle" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.LightGray" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.MetropolisDark" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.MetropolisLight" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2007Black" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2007Blue" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2007Silver" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2010Black" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2010Blue" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2010Silver" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2013" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2013DarkGray" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2013LightGray" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016Black" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016BlackSE" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016Colorful" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016ColorfulSE" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016DarkGraySE" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016White" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2016WhiteSE" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019Black" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019DarkGray" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019HighContrast" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Office2019White" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Seven" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.TouchlineDark" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2010" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2017Blue" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2017Dark" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2017Light" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2019Blue" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2019Dark" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.VS2019Light" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Win10Dark" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Win10Light" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Win11Dark" version="23.1.6" targetFramework="net48" />
  <package id="DevExpress.Wpf.Themes.Win11Light" version="23.1.6" targetFramework="net48" />
</packages>